.App {
  text-align: center;
  margin:100px;
}
.todo{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.todo h4 {
  width: 100px;
}
button{
  width: 100px;
 height: 30px;
  background-color: blue;
  color:white;
  border-radius: 5px;
}
.todos-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.add-todo{
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.add-todo input {
  width: 200px;
  height: 20px;
}
.filter {
  display:flex;
  justify-content: space-around;
  margin:30px;
}